#define IDR_VERSION1 1

IDR_VERSION1 VERSIONINFO
FILEVERSION 4,0,2016,1
PRODUCTVERSION 4,0,2016,1
FILEOS 0x00000000
FILETYPE 0x00000000
BEGIN
  BLOCK "StringFileInfo"
  BEGIN
    BLOCK "FFFF0000"
    BEGIN
      VALUE "FileVersion", "4.x-66490b6541d3\0" //do not change this
      VALUE "ProductVersion", "4.x-66490b6541d3\0" //do not change this
      VALUE "FileDescription", "gwFlowTransportFoam.exe - Built for blueCFD(R)-Core, by blueCAPE Lda.\0"
      VALUE "LegalCopyright", "OpenFOAM is Copyright (C) 2011-16 OpenFOAM Foundation.\0"
      VALUE "LegalTrademarks", "OpenFOAM is a trade mark of OpenCFD (ESI Group). blueCFD is a trade mark of blueCAPE Lda.\0"
      VALUE "ProductName", "Unofficial port of OpenFOAM. Port website: http://bluecfd.github.io/Core/\0"
      VALUE "InternalName", "gwFlowTransportFoam.exe\0"
      VALUE "OriginalFilename", "gwFlowTransportFoam.exe\0"
    END
  END
  BLOCK "VarFileInfo"
  BEGIN
    VALUE "Translation", 0xFFFF, 0x0000
  END
END
